.stat-container {
  display: flex;
  
}

.stat-content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.dashboard-header {
  width: 100%;
  margin-bottom: 20px;
}

.dashboard-content {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.charts-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive two-column layout */
  gap: 20px; /* Space between the charts */
  margin-bottom: 20px; /* Space between rows of charts */
}



.chart-container {
  width: 100%;
  height: 250px; /* Slightly reduced height for smaller screens */
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 15px; /* Reduced padding for smaller containers */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 576px) {
  .chart-container {
    height: 200px; /* Adjust height further for very small screens */
    padding: 10px; /* Reduced padding for mobile devices */
  }
}
