.stat-container {
  display: flex;
  min-height: 100vh;
  background-color: #f9f9ff;
}

.stat-content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.dashboard-header {
  width: 100%;
  margin-bottom: 20px;
}
.dashboard-content {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.heart-rate-chart {
  width: 100%; /* Set the width to 90% of the parent container */
  max-width: 500px; /* Set a max-width to avoid going too large */
  height: 300px; /* Ensure the chart has a fixed height */
  background-color: #ffffff;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  
}



.temperature-chart {
  width: 90%;
  max-width: 500px;
  height: 300px;
  margin: 20px auto;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.statistics {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 20px;
}

.chart-container {
  width: 90%;
  max-width: 600px; /* Limite la largeur */
  margin: 20px auto; /* Centre le graphique horizontalement */
  height: 400px; /* Hauteur fixe pour le graphique */
  background-color: #ffffff; /* Fond blanc */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
  padding: 20px; /* Espace intérieur */
}

h3 {
  text-align: center;
  color: #333; /* Couleur du titre */
  font-size: 20px;
  margin-top: 10px;
}

